<div id="image_container" class="image_container">
  <%= render :partial => "annotations/svg_annotations/svg.html.erb",
             :locals => {
               :size => size,
               :submission_file_id => submission_file_id
             }
  %>
  <script type="text/javascript">
  //<![CDATA[
    source_code_ready_for_image();
  //]]>
  </script>
</div>
