<h1>Top Kikoolol</h1>
<object data="main/annotations/view_image_annotations?submission_file_id=<%= submission_file_id %>" width="3000px" height="1000px" type="image/svg+xml">
</object>
<h1>Bottom Kikoolol</h1>
