<h1>Kikoolol</h1>
<object data="main/annotations/view_image_annotations?submission_file_id=<%= submission_file_id %>" width="3000px" height="1000px" type="image/svg+xml">
</object>
  <img x="0" y="0" 
       xlink:href = "/images/icons/pencil.png"
      />
  <img x="0" y="0" 
      "/images/icons/shape_square_add.png" 
     />
  <img x="0" y="0"
      xlink:href="/images/icons/comment_delete.png" 
     />
  <img x="0" y="0"
      xlink:href="/images/icons/disk.png" 
      />


<h1>Kikoolol</h1>
