/*** Style du SVG ***/

/* page */
svg {
  background-color: white;
}

/* Path */ 
path {  
  stroke: #333333;
  stroke-width: 2px; 
  fill: none;
}

/* Areas */
#areas rect {
    stroke: #FF0000;
    fill: rgba(33, 33, 33, 0.3);
}
  
/* Select box */
.area_annotation {
    stroke: #FF0000;
    fill: rgba(33, 33, 33, 0.3);
}

/* Hide annotation texts */
#annotations text {
	display: none;
}

/* But displays annotations when areas or shapes are hovered */
#display_node text {
	display: block;
}

/* Toolbar */
#toolbar rect {
	fill: #ffffff;
	cursor: auto;
}

#toolbar image {
	cursor: pointer;
}

/* Save button is hidden by default */
#button_save {
	display: none;
}

/* Annotation Text Displayer */
#annotation_rect_display {
    stroke: #FF0000;
    fill: #F0F8FF;
}

#modal {
     display: none;
}
