/*** Style du SVG ***/

/* page */
svg {
  background-color: white;
}
/* Path */ 
path {  
  stroke: #333333;
  stroke-width: 2px; 
  fill: none;
}
  
/* Select box */
.area_annotation {
    stroke: #FF0000;
    fill: rgba(33, 33, 33, 0.3);
}

/* Toolbar */
#toolbar rect {
	border: 1px solid #333333;
	padding: 5px;
	fill: #ffffff;
}

#toolbar image {
	cursor: pointer;
}
